.main {
  background: url(./sunny.png);
  width: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.nav-bar {
  background-color: inherit;
}
