.main {
  background: linear-gradient(#fff, #504f4f);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  min-height: 100vh;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.nav-bar {
  background-color: inherit;
}

a {
  text-decoration: none;
  color: rgb(226, 226, 226);
}

a:hover {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.weather-page {
  background: url(./snowy.png);
  width: 100%;
  color: white;
  min-height: 100vh;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.about-page {
  background: url(./sunny.png);
  width: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  min-height: 100vh;
  justify-content: center;
  align-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}